body {
            display: flex;
            margin: 0;
        }

        #navbar {
            width: 250px;
            position: fixed;
            left: 0;
            top: 0;
            height: 100vh;
            background-color: #f4f4f4;
            padding: 10px;
            border-right: 2px solid #ccc;
        }

        #main-doc {
            margin-left: 270px;
            padding: 20px;
        }

        .nav-link {
            display: block;
            margin: 10px
        }
@media (max-width: 768px) {
  #navbar {
    position: relative; /* Change position for smaller screens */
    width: 100%; /* Make it full-width */
  }

  #main-doc {
    margin-left: 0; /* Adjust margin so content fills the screen */
  }

  .main-section {
    padding: 10px;
  }
